---
---

// you need to add these dashes at the top to get jekyll to process the scss file to css


@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,700');

$background: #f7f9ff;
$black: #0c0c0c;
$red: #ff3500;
$typography: roboto;


body{
    background-color:$background;
    color: $black;
    font-family: $typography;
    max-width:780px;
    margin: 80px auto;
    font-weight:300;
    line-height:1.3;
}

h1{
    font-size:80px;
    font-weight:700;
}
h2{
    font-size:40px;
    font-weight:700;
}
header{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
div.post{
    p{
        max-width:540px;
    }
    img{
        max-width:780px;
    }
    h3{
        margin-top:80px;
    }
}
a{
    text-decoration:none;
    color:$black;
    padding-bottom:5px;
    margin-left:20px;
}
.selected{
    border-bottom: 10px solid $red;
}

img{
    max-width:780px;
}







